---
import {
  mdiCog,
  mdiEmail,
  mdiFlask,
  mdiHandPeace,
  mdiLightbulb,
  mdiRobotHappy,
  mdiRocketLaunch,
  mdiShieldStar,
  mdiSpeedometer,
  mdiSync,
  mdiTools,
  mdiXml,
} from "@mdi/js";
import BaseLayout from "../layouts/BaseLayout.astro";
import BannerIcon from "../components/BannerIcon.astro";
import Icon from "../components/Icon.astro";
import { CONSTS } from "../consts";
import BasePicture from "../components/BasePicture.astro";
import Button from "../components/Button.astro";
---

<BaseLayout
  title="Freelance CTO"
  description="Let's work together!"
  heroImage="hero-freelance.jpg"
>
  <article class="p-4">
    <div class="my-8">
      <h1 class="text-center">Freelance CTO</h1>

      <h2 class="text-center">
        <span class="text-primary">
          <Icon path={mdiSync} />
        </span>
        <span>Agile</span>
        <span class="text-primary">
          <Icon path={mdiXml} />
        </span>
        <span>Software</span>
        <span class="text-primary">
          <Icon path={mdiTools} />
        </span>
        <span>Hardware</span>
      </h2>
    </div>

    <BannerIcon icon={mdiRocketLaunch}>
      <strong>
        I design, build and test innovative solutions to your problem
      </strong>
    </BannerIcon>
    <BannerIcon icon={mdiShieldStar}>
      <strong>Trust 10 years of experience</strong> as an entrepreneur & generalist
      engineer
    </BannerIcon>
    <BannerIcon icon={mdiTools}>
      <strong>Build now</strong>, with hands-on engineering in software,
      electronics, and mechanics
    </BannerIcon>
    <BannerIcon icon={mdiLightbulb}>
      <strong>Find unique solutions</strong>, using broad knowledge & high
      creativity
    </BannerIcon>
    <BannerIcon icon={mdiSpeedometer}>
      <strong>Maximum efficiency</strong>, thanks to continuous delivery and
      user testing
    </BannerIcon>
    <BannerIcon icon={mdiSync}>
      <strong>Update requirements</strong> on the way using agile project management
    </BannerIcon>
    <BannerIcon icon={mdiRobotHappy}>
      <strong>Satisfaction guaranteed</strong>, with no commitment beyond the
      current milestone
    </BannerIcon>
    <BannerIcon icon={mdiHandPeace}>
      <strong>Be yourself</strong>, based on a transparent & honest partnership
    </BannerIcon>

    <div class="text-center my-16">
      <Button href={CONSTS.urls.contact}>
        <Icon path={mdiEmail} />
        <span>Contact me</span>
      </Button>
    </div>

    <hr />

    <h2 class="text-center mb-8">Degrees</h2>

    <BannerIcon icon={mdiFlask}>
      <strong>Bioengineering Master’s degree</strong>
      <p>École des Mines, St-Etienne, France</p>
    </BannerIcon>
    <BannerIcon icon={mdiCog}>
      <strong>Mechanics Engineering degree</strong>
      <p>ENISE, St-Étienne, France</p>
    </BannerIcon>
    <BannerIcon icon={mdiLightbulb}>
      <strong>Entrepreneurship Bachelor’s degree</strong>
      <p>Université de Lyon, France</p>
    </BannerIcon>

    <hr />

    <h2 class="text-center mb-8">Experiences</h2>

    <BasePicture filename="hero-gamebuino.jpg" aspectRatio={3 / 1} />

    <h2 class="mt-4">Solo founder - Gamebuino</h2>

    <p>
      <i>
        A portable game console that teaches you how to code by making your own
        games.
      </i>
    </p>
    <p>
      <i>2012-2019, 7 years</i>
    </p>

    <ul class="list-disc ml-4 mt-4">
      <li>
        <strong>Made people discover that coding is fun</strong>, in a world
        running short on software engineers
      </li>
      <li>
        <strong>Created an international community</strong> of passionate open-source
        content creators
      </li>
      <li>
        <strong>Designed a product</strong> from end-to-end : electronics, firmware,
        injection molding, packaging…
      </li>
      <li>
        <strong>Ran a business</strong> from end-to-end : funding, marketing, HR,
        PR…
      </li>
      <li>
        <strong>Produced and shipped</strong> the product at scale and on time
      </li>
    </ul>

    <h3 class="mt-4">Achievements</h3>

    <ul class="list-disc ml-4">
      <li>5000+ consoles shipped, 80% export (USA, Europe, Japan)</li>
      <li>33 k€ crowdfunded on Indiegogo, 2014</li>
      <li>66 k€ crowdfunded on Kickstarter, 2018</li>
      <li>Pitch award : Lauréat EdTech du Trophée des Startup AURA</li>
      <li>Featured several times on national news</li>
      <li>Design award : Etoile Observeur du design, 2017</li>
    </ul>

    <h3 class="mt-4">
      Watch the <a
        href="https://www.youtube.com/watch?v=uLS5WzyEINA"
        target="_blank"
      >
        Trailer
      </a>
      -
      <a
        href="https://www.youtube.com/watch?v=Lnf3ajd_GPc&t=11s"
        target="_blank"
      >
        Pitch
      </a>
      -
      <a href="https://www.youtube.com/watch?v=Mdf2XTn5-LU" target="_blank">
        News
      </a>
    </h3>

    <BasePicture
      class="mt-16"
      filename="hero-visioshape.jpg"
      aspectRatio={3 / 1}
    />

    <h2 class="mt-4">CTO - Visioshape</h2>

    <p>
      <i>Early-stage startup in robotics & computer vision</i>
    </p>
    <p>
      <i>2019-2021, 2 years</i>
    </p>

    <ul class="list-disc ml-4 mt-4">
      <li>
        <strong>Managed a 2 years-long R&amp;D project</strong> - creating a laser
        texturing machine (confidential)
      </li>
      <li>
        <strong>Data driven</strong> - Definition of the problem, measurement of
        success and associated benchmarks
      </li>
      <li>
        <strong>Disruptive</strong> - Designed a system that etches at scales never
        reached before (patent pending)
      </li>
      <li>
        <strong>Versatile</strong> - Computer vision, robotics, optics, electronics,
        software architecture
      </li>
      <li>
        <strong>Hands-on</strong> - Make it work with what you have in an early-stage
        startup
      </li>
      <li>
        <strong>Agile &amp; lean</strong> - Continuous benchmark and delivery to
        the end customer from day 1
      </li>
    </ul>

    <BasePicture class="mt-16" filename="hero-riaktr.png" aspectRatio={3 / 1} />

    <h2 class="mt-4">Full stack developer - Riaktr</h2>

    <p>
      <i>Startup turning big data into actionable insights</i>
    </p>
    <p>
      <i>2022, 6 months</i>
    </p>

    <ul class="list-disc ml-4 mt-4">
      <li>
        <strong> Setup design system to reduce time wasted</strong>, from design
        to implementation
      </li>
      <li>
        <strong> Design and setup seeding library</strong> to simplify e2e testing
      </li>
      <li>
        <strong> Bring energy to the team</strong> with a doer attitude
      </li>
    </ul>
  </article>
</BaseLayout>
