---
import {
  mdiGreaterThan,
  mdiHandPeace,
  mdiLessThan,
  mdiLightbulb,
  mdiRobotHappy,
  mdiRocketLaunch,
  mdiShieldStar,
  mdiSpeedometer,
  mdiSync,
  mdiTools,
} from "@mdi/js";
import BaseLayout from "../layouts/BaseLayout.astro";
import BannerIcon from "../components/BannerIcon.astro";
import Icon from "../components/Icon.astro";
import { CONSTS } from "../consts";
---

<BaseLayout
  title="Freelance CTO"
  description="Let's work together!"
  heroImage="hero-freelance.jpg"
>
  <article class="p-4">
    <h1>Freelance CTO</h1>

    <BannerIcon icon={mdiRocketLaunch}>
      <strong>
        I design, build and test innovative solutions to your problem
      </strong>
    </BannerIcon>
    <BannerIcon icon={mdiShieldStar}>
      <strong>Trust 10 years of experience</strong> as an entrepreneur & generalist
      engineer
    </BannerIcon>
    <BannerIcon icon={mdiTools}>
      <strong>Build now</strong>, with hands-on engineering in software,
      electronics, and mechanics
    </BannerIcon>
    <BannerIcon icon={mdiLightbulb}>
      <strong>Find unique solutions</strong>, using broad knowledge & high
      creativity
    </BannerIcon>
    <BannerIcon icon={mdiSpeedometer}>
      <strong>Maximum efficiency</strong>, thanks to continuous delivery and
      user testing
    </BannerIcon>
    <BannerIcon icon={mdiSync}>
      <strong>Update requirements</strong> on the way using agile project management
    </BannerIcon>
    <BannerIcon icon={mdiRobotHappy}>
      <strong>Satisfaction guaranteed</strong>, with no commitment beyond the
      current milestone
    </BannerIcon>
    <BannerIcon icon={mdiHandPeace}>
      <strong>Be yourself</strong>, based on a transparent & honest partnership
    </BannerIcon>

    <h2 class="text-center">
      <a href={CONSTS.urls.contact}>
        <Icon path={mdiGreaterThan} />
        <span>Contact me</span>
        <Icon path={mdiLessThan} />
      </a>
    </h2>

    <h2>Skills</h2>
  </article>
</BaseLayout>
