---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { CONSTS } from "../consts";
import BasePicture from "../components/BasePicture.astro";
import { mdiEmail } from "@mdi/js";
import Icon from "../components/Icon.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  class?: string | undefined;
  heroImage?: string | undefined;
}

const { props } = Astro;

const title = props.title ?? CONSTS.site.title;
const description = props.description ?? CONSTS.site.description;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body style="max-width:720px" class="mx-auto">
    <Header />
    <div class="w-full p-4 text-center border-b-2 border-borders bg-stone-700">
      Get projects updates and exclusive content!
      <a href={CONSTS.urls.subscribe} target="blank" class="text-amber-500">
        <span class="whitespace-nowrap"
          ><Icon path={mdiEmail} /> SUBSCRIBE NOW</span
        >
      </a>
    </div>
    <main class={props.class}>
      <BasePicture filename={props.heroImage} aspectRatio={21 / 9} eager />
      <slot />
    </main>
    <Footer />
  </body>
</html>
