---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];
const { props } = Astro;
---

<BaseLayout
  title={props.title}
  description={props.description}
  heroImage={props.heroImage}
>
  <article class="p-4">
    <h1 class="title mt-4">{props.title}</h1>
    <FormattedDate date={props.pubDate} />
    <hr />
    <slot />
  </article>
</BaseLayout>
